<!-- TODO: make the footer a 3 column responsive layout -->
<div class="fixed-bottom">
  <footer class="footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
            <span class="text-muted">About</span>
          </div>
          <div class="row">
            <ul>
              <li><a href="#">Learn More</a></li>
              <li><a href="#">People</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <span class="text-muted">Resources</span>
          </div>
          <div class="row">
            <ul>
              <li><a href="#">Docs</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <span class="text-muted">Contact</span>
          </div>
          <div class="row">
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">Sales</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
