<div class="content">
  <form [formGroup]="personForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        formControlName="firstName"
        type="text"
        class="form-control"
        id="firstName"
        placeholder="First Name"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        formControlName="lastName"
        type="text"
        class="form-control"
        id="lastName"
        placeholder="First Name"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Age</label>
      <input
        formControlName="age"
        type="text"
        class="form-control"
        id="age"
        placeholder="Age"
      />
    </div>
    <div class="form-group">
      <label for="jobTitle">Job Title</label>
      <input
        formControlName="jobTitle"
        type="text"
        class="form-control"
        id="jobTitle"
        placeholder="Job Title"
      />
    </div>
    <button type="button" class="btn btn-secondary" routerLink="/people">
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="save(personForm.value)"
      routerLink="/people"
    >
      Submit
    </button>
  </form>
</div>
