<!-- TODO: make the header a responsive navigation menu with responsive layout -->
<!-- Create a link to the people component/page -->
<header>
  <nav
    class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-expand-md scrolled"
  >
    <a class="navbar-brand" href="#">LandGate Test</a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="home"
            routerLinkActive
            (click)="collapseNavBar()"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="people"
            routerLinkActive
            (click)="collapseNavBar()"
            >People</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" (click)="collapseNavBar()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog" (click)="collapseNavBar()">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" (click)="collapseNavBar()"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
