section {
  background-image: url('/assets/images/hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  margin: 100px;
}
