<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Job Title</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people.people$ | async">
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.jobTitle }}</td>
        <td>
          <a [routerLink]="[person.id]" routerLinkActive="router-link-active"
            >Edit</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
